* {
    padding: 0;
    margin: 0;
}

.form {
    display: flex;
    justify-content: center;
    padding: 3% 3%;    
}

.result {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.data p {
    margin-bottom: 10px;
}


