* {
    padding: 0;
    margin: 0;
}

.form {
    display: flex;
    justify-content: center;
    padding: 3% 3%;    
}

.result {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.data {
    width: calc(100% / 4);
}

.data img {
    width: 400px;
    height: 200px;
}
